<div>
    <div class="game">
        <div class="topSide">
            <div class="title" id="gameName"></div>
            <button class="fancyYellowBtn applyTransition" id="newGameBtn">Start game</button>
            <div id="currentWord" class="currentWordOrPattern"></div>
            <div id="currentPattern" class="currentWordOrPattern"></div>
            <div id="timer">30s</div>
        </div>
        <aside id="players">
            <div class="whiteContainer">
                <ul>
                </ul>
            </div>
            <button class="fancyYellowBtn applyTransition" id="leaveRoomBtn">&lt; Leave room</button>
        </aside>
        <div id="game">
            <canvas id="gameCanvas" width="540" height="330" class="whiteContainer"></canvas>
            <div class="instruments">
                <ul class="colors" id="brushColors">
                </ul>
                <ul class="size" id="brushSize">
                </ul>
                <button id="clearCanvas" class="applyTransition">Clear</button>
            </div>
        </div>
        <aside id="chat">
            <div class="whiteContainer">
                <div id="chatMessages">
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="inputMsg">
                <input id="chatInput" type="text" />
                <button class="sendMsgBtn applyTransition" id="sendMsgBtn"></button>
            </div>
        </aside>
    </div>
</div>