<div>
    <div class="game">
        <div class="topSide">
            <div class="title">Opened game</div>
            <button class="fancyYellowBtn applyTransition" id="newGameBtn">Start game</button>
            <div id="currentWord">some word</div>
            <div id="timer">30s</div>
        </div>
        <aside id="players">
            <div class="whiteContainer">
                <ul>
                </ul>
            </div>
            <button class="fancyYellowBtn applyTransition" id="leaveRoomBtn">&lt; Leave room</button>
        </aside>
        <div id="game">
            <canvas id="gameCanvas" width="540" height="330" class="whiteContainer"></canvas>
            <div class="instruments">
                <ul class="colors">
                    <li class="whiteClr selectedClr"><button></button></li>
                    <li class="blueClr"><button></button></li>
                    <li class="greenClr"><button></button></li>
                    <li class="redClr"><button></button></li>
                    <li class="yellowClr"><button></button></li>
                    <li class="greyClr"><button></button></li>
                    <li class="brownClr"><button></button></li>
                    <li class="blackClr"><button></button></li>
                </ul>
                <ul class="size">
                    <li class="xs"><button></button></li>
                    <li class="s selectedSize"><button></button></li>
                    <li class="m"><button></button></li>
                    <li class="l"><button></button></li>
                    <li class="xl"><button></button></li>
                    <li class="xxl"><button></button></li>
                </ul>
                <button id="clearCanvas" class="applyTransition">Clear</button>
            </div>
        </div>
        <aside id="chat">
            <div class="whiteContainer">
                <div id="chatMessages">
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="inputMsg">
                <input id="chatInput" type="text" />
                <button class="sendMsgBtn applyTransition" id="sendMsgBtn"></button>
            </div>
        </aside>
    </div>
</div>