<div>
    <div class="showRooms">
        <!--<div class="popupBody" id="joinPopup">
        <div class="popupContainer">
            <label for="pass"></label>
            <input id="pass" type="password" />
        </div>
    </div>-->

        <div class="topSide">
            <div class="title">All rooms(<span id="roomCount"></span>)</div>
            <button class="newRoomBtn" id="newRoomOpenBtn">New room</button>
        </div>
        <div id="newRoomPopup">
            <label for="roomName">Name:</label>
            <input id="roomName" type="text" />
            <label for="roomPass">Password:</label>
            <input id="roomPass" type="password" />
            <button id="createRoomBtn" class="buttonWhite">Go</button>
        </div>
        <ul class="rooms" id="rooms">
        </ul>
    </div>
</div>