* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #5CD0F7;
}

.main {
    width: 1000px;
    margin: 60px auto 0;
    height: 640px;
    background: #E8F5FA;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    position: relative;
}

.mainHeader {
    width: 100%;
}

.mainHeader a {
    color: #ffffff;
}

.logo {
    width: 200px;
    left: 50%;
    top: 0;
    margin: -40px 0 0 -100px;
    height: 50px;
    padding: 10px 0;
    text-align: center;
    position: absolute;
}

.logo a {
    color: #8F5D96;
    font-size: 35px;
    text-decoration: none;
}

.menu {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.menu a {
    text-decoration: none;
    color: #8f5d96;
    font-size: 13px;
    padding: 0 10px;
}

.menu a:first-child{
    border-right: 2px solid #8f5d96;
}

.main canvas {
    background: white;
    border: 1px solid #5486b8;
    display: block;
    padding: 0;
    margin: 0;
}

.insertName {
    width: 400px;
    background: #8F5D96;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

.insertName label {
    width: 100%;
    display: block;
    color: white;
    font-size: 16px;
    margin: 0 0 10px 0;
    text-align: center;
}

.insertName input[type="text"] {
    height: 30px;
    border: none;
    width: 100%;
    padding: 0 6px;
    outline: none;
    margin: 0 0 10px 0;
}

.insertName input[type="text"]:focus {
    box-shadow: 0 0 10px #6b3a72;
}

.buttonWhite {
    width: 80px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: none;
    background: white;
    color: #6b3a72;
    margin: 0 auto;
    outline: none;
}

.buttonWhite:hover {
    opacity: 0.9;
    cursor: pointer;
}

.errorMsg {
    font-size: 12px;
    color: #ffffff;
    margin: 0 0 10px 0;
}

.showRooms .title {
    font-size: 24px;
}

.rooms li {
    width: 100%;
    padding: 10px;
    border: 1px solid #8f5d96;
    position: relative;
    margin: 0 0 5px 0;
}

.rooms li button {
    position: absolute;
    right: 10px;
    top: 50%;
    margin: -15px 0 0 0;
    height: 30px;
    padding: 0 20px;
    background: #8f5d96;
    color: white;
    border: none;
}

.rooms li button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.newRoomBtn {
    position: absolute;
    right: 0;
    top: 50%;
    margin: -15px 0 0 0;
    height: 30px;
    padding: 0 20px;
    background: #8f5d96;
    color: white;
    border: none;
}

.newRoomBtn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.topSide {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

#newRoomPopup {
    width: 100%;
    padding: 20px 13px;
    margin: 0 0 20px 0;
    background: #8f5d96;
    z-index: 100;
    display: none;
}

#newRoomPopup label {
    color: white;
    margin: 0 0 0 10px;
    font-size: 15px;
}
#newRoomPopup input {
    width: 200px;
    border: none;
    height: 30px;
    margin: 0 5px;
    padding: 0 6px;
    outline: none;
}

#newRoomPopup input:focus {
    box-shadow: 0 0 10px #6b3a72;
}

